@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --yellowd3: #d3d126;
    --blue00: #005383;
}

a{
    text-decoration: none !important;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto !important;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.header {
    background: var(--blue00);
}

.wrapper {
    width: 200px;
    padding: 20px;
    height: 150px;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.header__top {
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
}

.login,
.register {
    border-right: 1px solid #ffffff9e;
}

.img-bestcar {
    max-width: 156px;
}

.mega-group1 {
    transition: .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
}

.menu__list:hover .mega-group1 {
    transition: .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mega-group1 ul {
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border: 1px solid #eaeaeb;
    padding: 30px;
    background: #fff;
}

.mega-group1 ul li a {
    color: aqua;
}

.banner {
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    height: 70vh;
    background-position: center;
}



.left-address {
    color: var(--yellowd3);
}

.nav__contact div i {
    color: var(--yellowd3);
}

.learn-more {
    background-color: var(--yellowd3);
}

.menu__list a {
    color: #fff;
    font-weight: 600;
}

.menu__list a:hover {
    color: var(--yellowd3);
}

.text-opacity-70 {
    opacity: 0.7;
}

.block a {
    font-weight: 600;
}

/*================= Search ================== */
.search {
    padding-bottom: 100px;
}

.form-search {
    padding: 50px 0;
}

.select.auto-search {
    width: 43%;
}

.auto-search span {
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.pick-date {
    width: 36%;
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.select-make span {
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.form-select {
    width: 100%;
}

.form-check {
    margin-top: 20px;
}

.form-check-label {
    opacity: .7;
}

.select {
    margin-right: 15px;
    text-align: left;
}

.select-make {
    width: 30%;
}

.form-control {
    height: 50px !important;
}

.form-search {
    padding: 50px;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgb(82 76 76 / 28%);
    border-top: 5px solid #c7c525;
}

.btn.btn-vehicles {
    font-size: 18px;
    color: #000;
    background-color: var(--yellowd3);
    padding: 15px 30px;
    margin-right: 100px;
    border-color: var(--yellowd3);
}

.img-title {
    max-width: 115px;
    margin: 0 auto;
}

.title-heading h4 {
    font-size: 16px;
    color: #888;
}

.title-heading h2 {
    font-size: 40px;
    font-weight: 700;
    color: #222;
}

.vehicles {
    padding-bottom: 100px;
}

.top-info-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.name-news {
    text-align: left;
}

.name-news span  {
    font-weight: 600;
    font-size: 22px;
    color: #222222;
}
.name-news p {
    color: #555555;
    font-size: 15px;

}

.name-bus p {
    opacity: .97;
    font-size: 15px;
    color: #555555;
}

.vehicles__swiper {
    border: 1px solid #eeeeee;
}

.price-bus p {
    color: #005383;
    font-weight: 600;
}
.price-bus p span {
    color: #222;
    font-size: 13px;
}

.btn.btn-select {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    padding: 8px 25px;
    background: #d2d137;
    border-color: #d2d137;
    border-radius: unset;
}

.btn.btn-select::after {
    content: '';
    width: 100px;
    height: 105px;
    top: -40px;
    right: -23px;
    position: absolute;
    background-size: 3px 3px;
    z-index: 0;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
}

.btn.btn-select::before {
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    background: linear-gradient(
90deg
, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 100%, white 100%);
    transition: all .2s ease-in-out;
}

.bottom-info-content {
    column-count: 2;
    padding: 0 30px;
    border-top: 2px solid #dddddd;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.bottom-info-content span {
    padding: 4px;
    display: block;
    font-size: 13px;
    color: #222;
}
.vehicles__swiper {
    position: relative;
    margin-top: 60px;
}

.vehicles__swiper:hover {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    transition: 0.4s all;
}

.img-hover {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 1;
    transition: height .3s ease-in-out;

}

.img-hover a {
    color: #fff;
    display: block;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 3px;
}

.img-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    opacity: .95;
    z-index: 1;
    background-color: #005383!important;
}
.vehicles__swiper:hover .img-hover {
    height: 253px !important;
}

.wekar {
    padding-bottom: 500px;
}

.img-wekar {
    margin-top: 200px;
}

.box {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    transition: 0.4s;
}

.box:hover {
    background-color: #005383;
    color: #fff;
    transition: 0.4s;
}


.box-icon i {
    font-size: 40px;
}
.box-content{
    margin-left: 20px;
    border-left: 2px solid #d3d126;
    padding-left: 15px;
}

.box-content h5 {
    font-size: 18px;
    font-weight: 600;
}
.box-content span {
    font-size: 14px;

    opacity: .97;
}

.service-right {
    margin-left: 30px;
}




.vehicles {
    padding-bottom: 100px;
}

.top-info-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}


.news__swiper {
    border: 1px solid #eeeeee;
}
.avt-info {
    align-items: center;
    padding: 20px;
}
.avt-info::after {
    content: '';
    width: 100px;
    height: 105px;
    top: 21px;
    right: 17px;
    position: absolute;
    background-size: 3px 3px;
    z-index: 0;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
}

.img__swiper2 {
    padding: 0 20px;
}

.avt-info img {
    width: 14%;
    border-radius: 50%;
}

.avt-info p {
    margin-left: 20px;
}
.post-date {
    margin-top: 20px;
}

.top-info-news {
    padding: 0 20px;
    margin-top: 25px;
    border-bottom: 1px solid #eee;
}

.news__swiper {
    position: relative;
    margin-top: 60px;
}

.news__swiper:hover {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    transition: 0.4s all;
}
.post-date {
    padding: 10px;
}
.post-date span {   
    font-size: 13px;
    padding-left: 5px;
}

.footer {
    background: #141414;
    padding: 100px 0;
}

.footer__title h5 {
    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
}

.footer__title h5::after {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #d3d126;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.footer__title p {
    margin-top: 50px;
    font-size: 15px;
    opacity: .7;
    color: #fff;
}

.footer__title span {
    margin-top: 30px;
    font-size: 15px;
    color: #fff;
}

.social-ft {
    margin-top: 20px;
}

.social-ft ul li {
    padding-right: 7px;
}

.social-ft ul li a {
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    line-height: 34px;
    color: #fff;
    background-color: #2c2c2c;
}

.social-ft ul li a i{
    font-size: 18px;
}

.textwiget {
    padding-top: 30px;
}
.textwiget li {
    padding-top: 10px;
}
.textwiget li a {
    font-size: 14px;
    color: #fff;
    opacity: .7;
}

.wiget-contact {
    padding-top: 10px;
}
.wiget-contact i  {
    font-size: 40px;
}

.footer-contact {
    margin-top: 44px;
}

.footer__title3 h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
}

.wiget-contact {
    display: flex;
    align-items: center;
}

.wiget-contact i {
    color: #fff;
}

.wiget-contact .text-top {
    font-size: 15px;
    color: #fff;
    opacity: .7;
    padding-left: 10px;
}